
<div id="info">
  <div style="background-color: #6351ce; border-bottom: 20px solid #6351ce;">
    <div class="container" style="background-color: #6351ce;">

      <div class="row py-4 d-flex align-items-center">

        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          </div>
          <!-- <h5> Connect with me through social media:</h5>
        </div>

        <div class="col-md-6 col-lg-7 text-center text-md-right">
         
          https://www.linkedin.com/in/sahil9019/ https://github.com/sahilkatia/resume https://plus.google.com/u/0/102224814413966582101

        </div> -->
      </div>
    </div>
  </div>
  <div style="background-color:black; margin-top:10px;">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-12 col-xs-12">
          <h6 class="text-uppercase font-weight-bold" style="color:darkseagreen">Domains </h6>
          <hr style="width: 80px; background-color:green;">
          <ul class="domain">
            <li>Health Care</li>
            <li>Manufacturing</li>
            <li>Educational</li>
            <li>E-commerce</li>
          </ul>

        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
          <h6 class="text-uppercase font-weight-bold tech" style="color:darkseagreen; word-wrap:break-word; widows: 170px;">Technologies Used for this website</h6>
          <hr style="width: 250px; background-color:green;">
          <ul class="domain" style="margin-left:10px;">
            <li>Angular-6</li>
            <li>Bootstrap-4</li>
            <li>Font-Awesome</li>
            <li>HTML, CSS, Media-queries</li>

          </ul>

        </div>


        <div class="col-md-3 col-sm-12 col-xs-12">
          <h6 class="text-uppercase font-weight-bold" style="color:darkseagreen">Contact Information</h6>
          <hr style="width: 200px; background-color:green;">

          <ul class="domain" style="margin-left:10px;">
            <li>sahilkatia2012@gmail.com</li>
            <li>www.github.com/sahilkatia</li>
            <li>M.NO:- 402-302-1646</li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</div>