.imageSize{
    width: 45px;
    height: 40px;
}

.navbarCustom{
   font-weight: bold;
   color: white; 
   margin-left: 100px;
}

li {
    margin: 0 10px;
}

@media(max-size:768px){
    .navbar{
        width:100vw !important;
    }
}