/* You can add global styles to this file, and also import other style files */

html, body{
    height:100%;
    width:100%;
    overflow-x: hidden;
}


.progress-bar{
    background-color: violet !important;
}

* {
    padding: 0;
    margin: 0;
}


@media(max-width:1024px){
    body{
        overflow-y: scroll;
    }
}


@media screen and (min-width:0px) and (max-width:1180px){
    body{
        overflow-x:hidden;
        overflow-y: scroll;
        text-align:center;
    }
}

